<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>  Welcome to {{ title }}!  </h1>
  <div class="container">
    <div class="row">
        <app-quote-form  (addQuote)="addNewQuote($event)"></app-quote-form>
    </div>
</div>




  <div>
  <div class="well col-md-12" *ngFor='let quote of quotes;let i = index'>
        <div >

          <div><p>{{quote.name}}</p>
            <button type="button" class="btn btn-success" (click)="likes()">{{like}}like</button>
             <button type="button" class="btn btn-warning" (click)="dislikes()">{{dislike}}dislike </button>
          </div>
          <div class="well col-md-12">
        <button  (click)='toogleDetails(i)'>More Details</button>
      </div>

        <app-quote-details *ngIf="quote.showDescription" [quote]='quote' (isComplete)= 'goalDelete($event,i)'></app-quote-details>
    </div>
</div>
  </div>
